# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Output folders
output/
data/enriched_sales_data.txt
